services:
  php:
    build: .
    volumes:
      - .:/var/www/html
    ports:
      - "9000:9000"
    healthcheck:
      test: [ "CMD-SHELL", "php -v || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 3

  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/html/public
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - php

  database:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: vialum
      POSTGRES_USER: vialum
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
