services:
  php:
    build: .
    restart: unless-stopped
    volumes:
      - .:/var/www/html
      - vendor:/var/www/html/vendor
    ports:
      - "9000:9000"
    environment:
      - APP_ENV=dev
    healthcheck:
      test: [ "CMD-SHELL", "pidof php-fpm || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/html/public
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - php

  database:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: vialum
      POSTGRES_USER: vialum
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
  vendor:
